dist: xenial
sudo: false
language: cpp
compiler: g++

script:
  - sudo apt-get install libsfml-dev
  - make
  - git ls-files src/ | xargs clang-format -i && git diff --exit-code
  - sudo apt-get install libgtest-dev
  - sudo apt-get install cmake
  - cd /usr/src/gtest
  - cmake CMakeLists.txt
  - make
  - mv *.a /usr/lib
  - chmod 777 runTests.sh
  - ./runTests.sh
