dist: xenial
sudo: false
language: cpp
compiler: g++

script:
  - sudo apt-get install libsfml-dev
  - chmod 777 buildTest.sh
  - ./buildTest.sh
  - make test
  - make
  - git ls-files src/ | xargs clang-format -i && git diff --exit-code
